--extra-index-url https://download.pytorch.org/whl/cpu

flask==3.0.3
flask-cors==4.0.1
pillow==10.4.0
torch==2.4.1+cpu
torchvision==0.19.1+cpu
torchaudio==2.4.1+cpu
scikit-learn==1.5.2
matplotlib==3.9.2
numpy==2.1.1
pandas==2.2.3
streamlit==1.38.0
pytest==8.3.3
soundfile==0.12.1
opencv-python==4.10.0.84
